body {
	color: #fff;
	background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HOX7rov7iorrrmav/star-wars-starburst-hyper-space-effect_rse18xtu__F0000.png');
	background-size: cover;     
}

a{
    color: rgb(245, 245, 245);
}

p{
    color:hsl(0, 0%, 0%);
}
 h1{
     color:rgba(0, 0, 0, 0.658);

}
