body {
	color: #fff;
	background: url('https://us.123rf.com/450wm/nevodka/nevodka1801/nevodka180100085/92856197-string-lights-glass-bulbs-garland-with-glowing-spirals-on-dark-black-background.jpg');
	background-size: cover;     
}

a{
    color: rgb(245, 245, 245);
}

p{
    color:hsl(0, 0%, 0%);
}
 h1{
     color:rgba(0, 0, 0, 0.658);

}
